@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  #raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  body{
    width: 1440px;
    margin: 0 auto;
}

/* nav style */
nav{
  max-width: 1160px;
  margin: 0px auto;
align-items: center;
display: flex;
justify-content: space-between;
}
ul{
display: flex;
gap: 32px;
}
nav >ul >li{
list-style: none;
}
nav >ul >li >a{
text-decoration: none;
}
.school{
display: flex;
align-items: center;
gap: 11px;
}
.school >img{
width: 62px;
height: 62px;
}
.nav-title{
font-size: 2rem;
font-weight: bold;
color: black;
}
.item-1{
font-size: 1.25rem;
font-weight: bold;
color: #FEA301;
}
.item-2{
font-size: 1.25rem;
font-weight: 500;
color: #01ACFD;
}
.item-3{
font-size: 1.25rem;
font-weight: 500;
color: #05D4DF;
}
.item-4{
font-size: 1.25rem;
font-weight: 500;
color: #5D58EF;
}
.nav-btn{
font-weight: 600;
font-size: 1.25rem;
color: white;
padding: 10px 60px;
border-radius: 12px;
background-color: #FEA301;
border: none;
}
.menu{
display: none;
}

/* banner style */
.banner{
max-width: 1158px;
margin: 0px auto;
display: flex;
gap: 50px;
}
.banner-containt{
width: 640px;
height: 183px;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: bold;
}
#empower{
color: orange;
}
#vision{
color: skyblue;

}
.banner-description{
font-size: 1.25rem;
font-weight: 400;
color: black;
}
.banner-btn{
font-size: 1.25rem;
font-weight: bold;
color: #FFFFFF;
background-color: black;
padding: 10px 47px;
border-radius: 12px;
}
.banner >img{
  width: 468px;
  height: 575px;
}
/* cariculam style */
.curriculum{
  max-width: 1440px;
  margin: 0px auto;
  background-image: url(../B11-A2-Kids-School/assets/bg.png);
  border: 1px solid white;
}
.section-title{
font-size: 2.8rem;
font-weight: bold;
color: #000000;
width: 460px;
margin: 0px auto;
margin-top: 60px;
margin-bottom: 80px;
}
.card{
  display: flex;
  width: 1160px;
  margin: 0px auto;
  gap: 28px;
}
.card-1{
  width: 367px;
  height: 476px;
  justify-content: center;
  text-align: center;
  border-radius: 18px;
  
}
.card-title{
font-size: 1.5rem;
font-weight: bold;
color: #202020;

}
.card-title1{
font-size: 1rem;
font-weight: bold;
margin: 0px auto;
margin-bottom: 100px;
margin-top: 38px;
}
.card-pera{
font-weight: 500;
font-size: 1rem;
color: #808080;
}
.color-1{
  color: #64C8FF;
}
.color-2{
  color: #F0AA00;
}
.color-3{
  color: #8700FF;
}
.card-1 >img{
  width: 136px;
  height: 136px;
  margin: 52px 113px 32px 113px;
}
.sado-3{
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.sado-2{
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.sado-1{
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.icon{
  display: flex;
  gap: 10px;
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 60px;
  width: 130px;
  height: 60px;

}
#icon-1{
  width: 60px;
  height: 60px;
  background-color: orange;
  border-radius: 30px;
}

#icon-2{
  width: 60px;
  height: 60px;
  background-color: orange;
  border-radius: 30px;
}
#icon-3{
padding: 22px 19px 12px 22px;
color: white;
}
#icon-4{
  padding: 22px 19px 12px 22px;
  color: white;
}



@media screen and (max-width:576px) {
.nav-title, .item-1, .item-2, .item-3, .item-4, .nav-btn{
   display: none;
}
.menu{
    display: block;
   font-size: 2rem;
}
nav{
    border-bottom: 1px solid #FEA301;
    width: 100%;
    margin: 0px;
    justify-content: space-between;
}
.school >img{
    padding-bottom: 5px;
}



/* banner media query */
.banner{
  flex-direction: column-reverse;
}
body, .banner, .curriculum{
width: 100%;
margin: 0px;
}
.banner-containt{
  text-align: center;
}
.banner-containt, .banner >img{
  width: 100%;
  height: auto;
  }
  .card{
    width: 100%;
    margin: 0px;
    gap: 12px;
  }
  .card{
    flex-direction: column;
    align-items: center;
  }
  .section-title{
    width: 261px;
    height: 33px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
}
  






